.rows {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.rows2 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.buttonsDiv {
    display: flex;
    justify-content: space-around;
}

.clientData{
    display: grid;
    grid-template-columns: 50% 50%;
}