.orderDetailColumns {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    margin-bottom: 1rem;
}

.orderDetailHeader {
    display: grid;
    grid-template-columns: 60% 40%;
}

.buttonsDiv {
    display: flex;
    justify-content:space-evenly;
}

.clientData{
    display: grid;
    grid-template-columns: 50% 50%;
}


#orderCardHeader {
    font-size: 2rem;

}

.orderDetail{
    margin: 0.5rem;
    padding: 0.5rem;
}